{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="page-content container">
    <div id="card-container">

    </div>
</div>

{% include '_options_modal.html' %}

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    url = ""
    var googAuth;
    disableScroll = true;
    movieQueue = []
    cols = []
    page = 1
    totalPages = Number.MAX_SAFE_INTEGER;
    
    $(document).ready(function() {
        $('#options').modal({})
    });

    $('#auth-button').click(function() {
        $.get("/gsheets/login/", function(){
        })
        .fail(function(xhr, status, error){
            if (xhr.status == 401){
                googAuth = window.open(xhr.responseText,'_blank');
            }
        })
        
        var validateLogin = function(){
            $.get("/gsheets/login/validate", function(data, textStatus, xhr){
                if (typeof googAuth !== 'undefined'){
                    googAuth.close();
                }
                $('#auth-button').prop('disabled', true);
                $('#url-selector').show();
            })
            .fail(function(xhr, status, error){
                setTimeout(validateLogin, 1000)
            })
        };

        validateLogin()
    });

    $('#url-button').click(function(){
        url = $('#url-input').val()
        console.log(url)
        $.get('/import/headers/gsheets', {url: url}, function(data){
            $('#url-form').children().prop('disabled', true);
            headers = JSON.parse(data)
            
            $.each(headers, function(key, value) {
                console.log(key + ": " + headers[key])
                $('.field-select').append($('<option/>', { 
                    value: key,
                    text : headers[key] 
                }));

            });  
            $('#field-mapping').show();   
        })
    });

    $('#field-button').click(function(){
        cols = []
        $(".field-select > option:selected").map(function() {
            cols.push($(this).val())
        })
        
        $.get('/import/data/gsheets', {url: url, cols: JSON.stringify(cols)}, function(data){
            totalPages = Math.ceil(data / 20)
            fetchNextPage()
        })

        $('#options').modal('hide')
    });

    $(window).on('scroll', function() {
        if (disableScroll == false){
            fetchAtBottom();
        }
    });

    function fetchAtBottom(){
        if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            disableScroll = true;
            movies = fetchNextPage()
        }
    }

    function fetchNextPage() 
    {
        /* 
        Process : GET data from google sheets -> Concurrently GET details for each movie [Using counter to track finish]
                    -> POST all movie data at once -> Clear movie queue
        */
        
        if (page > totalPages){ console.log('ENDOFFILE'); return; }

        searchCounter = 0

        var $elements = $('{% include "_loader.html" %}')

        var loader = $('.page-content').append($elements);

        $.get('/movies/', {page: page}, function(data){
            // Flask can't do asynchronous requests, using the JS event loop to do concurrent API calls [Replace Flask]
            // TMDB API is slow, roughly ~0.7s/request
            names = JSON.parse(data)
            $.each(names, function(key, value) {
                searchCounter++
                $.get('/tmdb/search', {name: names[key]['name']})
                .done(function(row){
                    movieQueue.push(row)
                })
                .always(function(){
                    searchCounter--
                    if (searchCounter == 0){
                        setTimeout(function(){disableScroll = false}, 10000)
                        $.post('/movies/', {data: JSON.stringify(movieQueue)}, function(){
                            $.get('/movies/render', { page: page }, function(cards){
                                $('#card-container').append(cards)
                                $('.card').on("click", function(e) {
                                    nameId = $(this).closest('.card').attr('id')
                                    name = nameId.replace(/_/g, ' ')
                                    $.get('/movies/render-modal', { name: JSON.stringify(name) }, function(modal){
                                        $('.body-content').append(modal)
                                        // Escape reserved characters for jquery selectors
                                        selector = "#modal-" + nameId.replace(/'/g,"\\'").replace(/:/g,"\\:")
                                        $(selector).modal({})
                                    })
                                })
                                $elements.remove();
                            })
                            movieQueue = []
                            page = page + 1
                        })
                    }
                })
            })
        })
    }
</script>
{% endblock %}